<div class="container">
    <div class="ui-g">


    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="cidades" [paginator]="true" [rows]="5"
        [responsive]="true" emptyMessage="Nenhum lançamento encontrado"
        [paginator]="true" >

      <p-column field="cidade" header="cidade"></p-column>
      <p-column field="uf" header="Uf"></p-column>

    </p-dataTable>
      </div>

      <div class="ui-g-12">
        <a pButton label="Novo Lançamento"></a>
      </div>

    </div>

  </div>
