<div class="container">
  <form #f="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Cadastro</h1>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text" name="cidade"
          ngModel #cidade="ngModel" required minlength="15">
      </div>


      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="uf"
          ngModel #uf="ngModel" required minlength="15">
      </div>



      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
